/*
* {outline: 1px solid red;}
*/
*,*:before,*:after {
    box-sizing: border-box;
}
.wrap {
    max-width: 856px;
    margin: 0 auto;
    font-family: Noto Sans TC;
    letter-spacing: 5%;
}
h2 {
    font-size: 24px;
    font-weight: 700;
    font-style: Bold;
    line-height: 1.2;
    letter-spacing: 5%;
    margin-bottom: 24px;
}
section {
    margin-top: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid #d3d2d2;
}
.brand {
    margin-top: 64px;
    gap: 16px;
} 
.brand h2 {
    margin-top: 24px;
}
.brand h3 {
    font-size: 20px;
    font-weight: 700;
    font-style: Bold;
    line-height: 1.2;
    letter-spacing: 5%;
    color: #57A203;
    margin-bottom: 16px;
/*
leading-trim: NONE;
*/



}
img {
    width: 100%;
    height: auto;
}
.brand-intro .intro-text {
    line-height: 1.5;
    padding-bottom: 16px;
    gap: 16px;
    
}
.slogan {
    margin-bottom: 32px;
}


li {
    color: #212529;
    line-height: 1.5;
    gap: 10px;
    

}
.brand-history span {
    border-left: 1px solid #000;
    
}

.dot li span{
  list-style-type: disc;
  padding-left: 20px;
  border-left: 1px solid #000;
}

.brand-believe li{
    list-style-type: none;
    border-left: 3px solid #eee;
}
.arrow {
    list-style-type: none;
    
    
}
.arrow li::before {
    content: "↗"; 
    color: #57A203;
    margin-right: 4px;
    

}
a {
    color: #57A203;
    text-decoration: underline;
    text-underline-offset: 4px;
}